@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap');

body {
   font-family: 'Roboto', sans-serif;
}

.h1, .h2, .h3, .h4, .h5, .h6, h1, h2, h3, h4, h5, h6 {
    font-weight: 500;
}

/* fonts */
@font-face {
	font-family: 'IBMPlexSans-Medium';
	src:url('../fonts/IBMPlexSans-Medium.eot?-fvbane');
	src:url('../fonts/IBMPlexSans-Medium.eot?#iefix-fvbane') format('embedded-opentype'),
		url('../fonts/IBMPlexSans-Medium.woff?-fvbane') format('woff'),
		url('../fonts/IBMPlexSans-Medium.ttf?-fvbane') format('truetype'),
		url('../fonts/IBMPlexSans-Medium.svg?-fvbane#themify') format('svg'),
        url('../fonts/IBMPlexSans-Medium.eot') format('svg');
	font-weight: normal;
	font-style: normal;
}
@font-face {
	font-family: 'HKGrotesk-Medium';
	src:url('../fonts/HKGrotesk-Medium.eot?-fvbane');
	src:url('../fonts/HKGrotesk-Medium.eot?#iefix-fvbane') format('embedded-opentype'),
		url('../fonts/HKGrotesk-Medium.woff?-fvbane') format('woff'),
		url('../fonts/HKGrotesk-Medium.ttf?-fvbane') format('truetype'),
		url('../fonts/HKGrotesk-Medium.svg?-fvbane#themify') format('svg'),
        url('../fonts/HKGrotesk-Medium.eot') format('svg');
	font-weight: normal;
	font-style: normal;
}
@font-face {
	font-family: 'Public Sans Medium';
	src:url('../fonts/PublicSans-Medium.eot?-fvbane');
	src:url('../fonts/PublicSans-Medium.eot?#iefix-fvbane') format('embedded-opentype'),
		url('../fonts/PublicSans-Medium.woff?-fvbane') format('woff'),
		url('../fonts/PublicSans-Medium.ttf?-fvbane') format('truetype'),
		url('../fonts/PublicSans-Medium.svg?-fvbane#themify') format('svg'),
        url('../fonts/PublicSans-Medium.eot') format('svg');
	font-weight: normal;
	font-style: normal;
}
@font-face {
	font-family: 'Public Sans';
	src:url('../fonts/PublicSans-Light.eot?-fvbane');
	src:url('../fonts/PublicSans-Light.eot?#iefix-fvbane') format('embedded-opentype'),
		url('../fonts/PublicSans-Light.woff?-fvbane') format('woff'),
		url('../fonts/PublicSans-Light.ttf?-fvbane') format('truetype'),
		url('../fonts/PublicSans-Light.svg?-fvbane#themify') format('svg'),
        url('../fonts/PublicSans-Light.eot') format('svg');
	font-weight: normal;
	font-style: normal;
}

/*Bgs*/
.bg-violet {
    background-color: #655DC6;
}
.bg-violet-light2 {
    background-color: #E1E1F2;
}
.bg-dark {
    background-color: #000000 !important;
}

/*btn*/
.btn-primary {
    color: #fff;
    background-color: #EE7623;
    border-color: #EE7623;
    border-radius: 50px;
    min-width: 150px;
        line-height: normal;
}
.btn-border {
    color: #EE7623;
    background-color: transparent;
    border-color: #EE7623;
    border-radius: 50px;
    min-width: 150px;
    line-height: normal;
}

@media (max-width: 420px){
    .img-agent-mobile{
        width: 70% !important;
    }
    .img-red-social-mobile{
        width: 70% !important;
    }
    .img-home-mobile{
        width: 70% !important;
    }
    .img-event-mobile{
        width: 70% !important;
    }
    .img-agent-mobile{
        border-radius: 40px !important;
    }
    .img-red-social-mobile{
        border-radius: 40px !important;
    }
    .img-home-mobile{
        border-radius: 40px !important;
    }
    .img-event-mobile{
        border-radius: 40px !important;
    }
}
@media (max-width: 576px) {
    .eclipse{
        width: 100% !important;
    }
    .icon-play{
        width: 70px !important;
    }
    .border-top{
        padding-left: 0.5rem;
        padding-right: 3rem;
    }
  
}
@media (min-width: 768px) and (max-width: 902px) {
    .img-agent{
        left: -18rem !important;
    }
    .content-socio{
        padding-top: 9rem !important;
        padding-left: 1rem !important;
        padding-right: 2rem !important;
    }
    .img-red-social{
        right: 4rem !important;
    }
    .content-red {
        padding-left: 4rem !important;
    }
    .img-home {
        left: -18rem !important;
    }
    .discount {
        padding-left: 0.5rem !important;
    }   
    .img-event {
        right: 4rem !important;
        padding-top: 9rem !important;
    }
    .content-events {
        padding-top: 4rem !important;
        padding-left: 4rem !important;
        padding-right: 7rem !important;
    }
    .content-app-events {
        margin-right: 2rem !important;
    }
    .content-events-news{
        padding-bottom: 23rem !important;
    }
    .vector-events {
        right: 13rem !important;
    }
   
}
@media(min-width: 768px){
    .img-agent-mobile{
        display: none;
    }
    .img-red-social-mobile{
        display: none;
    }
    .img-home-mobile{
        display: none;
    }
    .img-event-mobile{
        display: none;
    }
}
@media (max-width: 768px) {
    .border-top{
        padding-bottom: 0 !important;
    }
    .content-social{
        text-align: start !important;
        padding: 0.5rem !important;
    }
    .content-social p{
        text-align: start !important;
    }
    .content-social span{
        margin-left: 0 !important;
    }
    .copyright p{
        text-align: center !important;
    }
    .order-a{
        order: 1;
    }
    .order-b{
        order: 2;
        z-index: 10;
    }
    .footer ul {
        margin-bottom: 0 !important;
        line-height: 2rem;
    }
    .received{
        margin-bottom: 3rem !important;
    }
    .copyright{
        margin-top: 1rem;
    }
    .club-pet{
        padding-bottom: 4.5rem !important;
    }
    .img-agent{
        display: none;
    }
    .img-red-social{
        display: none;
    }
    .img-home{
        display: none;
    }
    .img-event{
        display: none;
    }
    .petsoccer{
        padding-bottom: 5rem !important;
    }
    .content-red {
        padding: 0.5rem !important;
        padding-bottom: 3rem !important;
    }
    .content-red h1{
        padding-top: 0 !important;
    }
    .content-socio {
        padding-top: 0rem !important;
        padding-bottom: 5rem !important;
        padding-right: 0.5rem !important;
        padding-left: 0.5rem !important;
    }
    .content-partner {
        padding-top: 2rem !important;
        padding-bottom: 4rem !important;
    }
    .content-discount{
        padding-bottom: 4rem !important;
        padding-top: 4rem !important;
    }
    .content-social-network{
        padding-top: 4rem !important;
        padding-bottom: 4rem !important ;
    }
    .content-events-news{
        padding-top: 4rem !important;
        padding-bottom: 8rem !important ;
    }
    .content-benefit {
        margin-top: 0 !important;
        padding-top: 0 !important;
        padding-bottom: 3rem !important;
    }
    .content-events{
        padding: 0.5rem !important;
        padding-bottom: 3rem !important;
    }
    .content-events h1{
        padding-top: 0 !important;
    }
    .discount{
        padding: 0rem !important;
    }
    .content-app {
        padding-right: 0 !important; 
    }
    .content-app-events{
        margin-right: 0 !important;
    }
    /* vector */
    .vector-social {
        width: 40% !important;
        height: auto !important;
        bottom: 5rem !important;
    }
    .vector-discount {
        width: 40% !important;
        top: 61% !important;
    }
    .vector-events{
        width: 6% !important;
        z-index: 1;
        right: 16rem !important;
    }
    .vector-pet{
        width: 30% !important; 
    }
    /* images mobile */
    .img-agent-mobile{
        border-radius: 47px;
        box-shadow: 0 0 40px rgb(0 0 0 / 80%);
    }
    .img-red-social-mobile{
        border-radius: 47px;
        box-shadow: 0 0 40px rgb(0 0 0 / 80%);
    }
    .img-home-mobile{
        border-radius: 47px;
        box-shadow: 0 0 40px rgb(0 0 0 / 80%);
    }
    .img-event-mobile{
        border-radius: 47px;
        box-shadow: 0 0 40px rgb(0 0 0 / 80%);
    }
    .shape-petoficial {
        width: 191px !important;
        height: 226px !important;
        left: 3rem !important;
    }
    .content-banner h1{
        font-size: 50px !important;
        line-height: 60px !important;
    }
    .content-banner{
        padding-left: 1rem !important;
        padding-top: 12rem !important;
    }
   
}
@media (max-width: 992px) {
    .btn-header{
        position: inherit !important;
    }
    .fixed-top{
        background-color: #F3F3F3 !important;
    }
    .btn-club{
        width: 100% !important;
        padding-top: 7px;
        border-radius: 8px !important;
        margin-bottom: 1rem;
    }
    .btn-prov{
        width: 100% !important;
        background: #000000 !important;
        border-radius: 8px !important;
    }
    .btn-club:hover{
        color: #005335 !important;
        background-color: #ffffff !important;
        border-color: #005335;
    }
    .btn-prov:hover{
        color: rgb(0, 0, 0) !important;
        background-color: #ffffff !important;
        border-color: #000000;
    }
    
}

@media (max-width: 1071px){
    .img-cellphone{
        display: none;
    }
    .apps{
        background-image: url("../img/cellphones.png") !important;
        background-size: cover !important;
        background-repeat: no-repeat !important;
        display: block;
    }
}

@media (max-width: 1200px) {
    .received{
        margin-right: 0 !important;
    }
    .icon-play{
        width: 100px;
    }
   
}

@media(min-width: 768px) and (max-width: 1500px) {
    .vector-discount {
        width: 25% !important;
    }
    .vector-events{
        width: 6% !important;
    }
    .vector-social{
        width: 25% !important;
        height: auto !important;
    }
    .vector-pet{
        width: 25% !important; 
    }
}
@media (min-width: 902px) and (max-width: 1150px) {
    .img-agent{
        left: -10rem !important;
    }
    .content-app{
        padding-right: 0 !important;
    }
    .content-red{
        padding-left: 9rem !important;
    }
    .img-red-social {
        right: 7rem !important;
    }
    .content-events {
        padding-left: 9rem !important;
        padding-right: 5rem;
    }
    .content-app-events {
        margin-right: 18% !important;
    }
    .img-event{
        right: 6rem !important;
    }
    
}
@media (min-width: 1072px) and (max-width: 1400px) {
    .img-cellphone{
        right: 0rem !important;
    }
    
}
@media (min-width: 768px) and (max-width: 1400px) {
    .content-banner {
        padding-left: 4rem !important;
        padding-top: 12rem !important;
    }
}

/* Header */
.btn-club{
    width: 127px;
    height: 32px;
    background: #005335;
    border-radius: 22px;
    padding-top: 4px;
}
.btn-prov{
    width: 127px;
    height: 32px;
    background: #000000;
    border-radius: 22px;
    padding-top: 4px;
}
.btn-club:hover{
    transform: scale(1.01);
    color: #ffffff;
}
.btn-prov:hover{
    transform: scale(1.01);
    color: #ffffff;
}
.navbar-light .navbar-toggler{
    border-color: #107658;
    color: #fff;
}
/* End header */

.bg-sent{
    background: linear-gradient(112.37deg, rgba(225, 224, 221, 0.68) 2.23%, rgba(225, 224, 221, 0) 100.09%);
}
.sent-input{
    border-radius: 15px !important;
    height: 83px;
    font-size: 15px;
    padding-left: 1.75rem;
    padding-right: 12rem;
}
button#button-addon2 {
    background-color: black;
    position: absolute;
    right: 17px;
    top: 14px;
    width: 163px;
    border-radius: 10px;
    height: 52px;
}
.received {
    margin-right: 15rem;
}
.received h2{
    font-family: 'IBMPlexSans-Medium';
    font-weight: 700;
    font-size: 25px;
    line-height: 53px;
    color: #12141D;
}
.received span {
    font-weight: 400;
    font-size: 16px;
    line-height: 26px;
    color: #12141D;
}
.text-footer{
    font-family: 'IBMPlexSans-Medium';
    color: #12141D;
    font-size: 16px;
    line-height: 30px;
}
.copyright p{
    font-family: 'IBMPlexSans-Medium';
    font-weight: 400;
    font-size: 13px;
    line-height: 20px;
    text-align: right;
    color: #000000;
}
.social-networks:hover {
    transform: scale(1.1);
}
.clubs{
    background-color: #fff;
}
.clubs h3 {
    font-family: 'IBMPlexSans-Medium';
    font-size: 25px;
    line-height: 54px;
    font-weight: 700;
}
.img-movie{
    width: 100%;
    opacity: 0.5;
}


.beneficios{
    background: linear-gradient(112.37deg, rgba(225, 224, 221, 0.68) 2.23%, rgba(225, 224, 221, 0) 100.09%);
}
.apps{
    background: #107658;
}

.img-cellphone{
    position: absolute;
    right: 13rem;
}
.banner{
    height: 990px;
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
}
.fixed-top {
    position: fixed;
    top: 0;
    right: 0;
    left: 0;
    z-index: 1030;
}

.bg-main {
    background: linear-gradient(90deg, #F3F3F3 0%, #EAE9E8 100%) !important;
}
.club-pet h1 {
    font-family: 'IBMPlexSans-Medium';
    font-weight: 700;
    font-size: 45px;
    line-height: 98.5%;
    color: #fff;
}

.club-pet span {
    font-family: 'IBMPlexSans-Medium';
    font-weight: 700;
    font-size: 22px;
    line-height: 98.5%;
    color: #fff;
}
.botton-store{
    padding: 0.3rem;
}
.club-pet{
    padding-bottom: 11.5rem;
    padding-top: 4rem;
    position: relative;
    z-index: 1;
}
.eclipse{
    position: absolute;
    width: 491px;
    height: 473px;
    left: -9em;
    margin-top: -4rem;
    padding-top: -22px;
    background: rgba(77, 87, 101, 0.26);
    filter: blur(200px);
    z-index: 2;
}
.club-content{
    position: relative;
    z-index: 4;
}
.image-app:hover {
    transform: scale(1.01);
}
.icon-play:hover{
    transform: scale(1.03);
}
.icon-play {
    margin: 0 auto;
    position: absolute;
    display: inherit;
    top: 34%;
    z-index: 6;
    left: 3rem;
    right: 0;
    
}
.block-video{
    overflow: hidden;
    margin-left: 0rem;
    position: relative;
}

.content-banner {
    padding-top:12%;
    position: relative;
}
.content-banner h1{
    font-family: 'IBMPlexSans-Medium';
    font-size: 88px;
    font-weight: 700;
    line-height: 86px;
    margin-bottom: 2rem;
}
.content-banner p{
    font-family: 'Public Sans';
    font-size: 20px;
    font-weight: 400;
    line-height: 32px;
    color: #12141D;
    letter-spacing: -0.5px;
    margin-bottom: 2rem;
}
.btn-download{
    width: 196px;
    height: 55px;
    background: #005234;
    border-radius: 15px;
    color: white;
}
.btn-download:hover{
    transform: scale(1.01);
    color: #ffffff;
}
.btn-header {
    position: absolute;
    right: 7rem;
}
.btn-offer{
    box-sizing: border-box;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 16px 20px;
    gap: 10px;
    width: 127px;
    height: 35.64px;
    border: 1px solid #005234;
    border-radius: 8px;
    font-weight: 600;
    font-size: 10.3673px;
    line-height: 16px;
    color: #005234;
    }

    .btn-offer:hover{
        background-color: #005234;
        color: #fff;
    }
    .input-group .btn{
        z-index: 10;
    }

.card-title{
    font-family: 'IBMPlexSans-Medium';
    font-weight: 700;
    font-size: 20px;
    line-height: 26px;
    color: #000B33;
}
.card-text{
    font-family: 'HKGrotesk-Medium';
    font-weight: 400;
    font-size: 16px;
    line-height: 130%;
    color: #000B33;
}
.card-footer{
    padding-left: 1rem !important;
    padding-bottom: 2rem !important;
    background-color: transparent;
    padding: 0;
}
.card-benefit{
    padding: 2rem 1rem;
}
.flex-image{
    /* margin-left: 10.5rem; */
    position: absolute;
    margin-top: -2rem;
    right: 28px;
}
.porcent{
    font-family: 'IBMPlexSans-Medium';
    font-weight: 700;
    font-size: 25px;
    line-height: 26px;
    letter-spacing: -0.03em;
    color: #FFFFFF;
    position: absolute;
    padding-top: 26px;
    margin-left: 15px;
}

.card-content{
    place-content: center;
    padding-bottom: 12rem;
}


/* section asi funciona */
.shape-pet{
    position: absolute;
    width: 109px;
    height: 109px;
    left: 46%;
    padding-top: 9rem;
    background: rgba(4, 86, 62, 0.45);
    filter: blur(65.4188px);
}
.sportyfan p {
    font-weight: 400;
    font-size: 18px;
    line-height: 30px;
    text-align: center;
    color: #12141D;
    opacity: 0.8;
}
.petsoccer{
    padding-top: 8.7rem;
    padding-bottom: 9rem;
    position: relative;
}
.vector-pet{
    position: absolute;
    left: 0;
    top: 0;
}
.vector-social{
    position: absolute;
    bottom: 0;
    height: 231px;
    right: 0;
    width: 550px
}
.vector-discount{
    position: absolute;
    left: 0;
    top: 50%;
}
.vector-events{
    position: absolute;
    bottom: 0;
    right: 34rem;
}
.petsoccer h2 span {
    font-size: 48px;
    color: #00442B;
    line-height: 54px;
    font-weight: 700;
}
.petsoccer h2 {
    font-family: 'IBMPlexSans-Medium';
    font-size: 48px;
    line-height: 54px;
    font-weight: 700;
    margin-top: 2rem;
    margin-bottom: 1rem;
}
.title-pet h1{
    font-family: 'IBMPlexSans-Medium';
    font-size: 52px;
    font-weight: 700;
    color: #03754C;
    line-height: 54px;
    letter-spacing: -1px;
    margin-bottom: 2rem;
}
.title-pet h1 span{
    font-size: 52px;
    font-weight: 500;
    line-height: 54px;
    color: #12141D;
    letter-spacing: -1px;
    
}
.content-socio{
    padding: 6rem;
    padding-top: 9rem;
}
.content-red {
    padding: 5rem;
    padding-left: 14rem;
    padding-right: 0;
}
.content-red h1{
    padding-top: 8rem;
}
.title-pet p{
    font-size: 18px;
    font-weight: 400;
    line-height: 30px;
    margin-bottom: 0;
    color: #12141D;
    opacity: 0.8;
}
.content-app {
    padding-right: 20%;
}

.img-agent {
    position: absolute;
    left: -8rem;
}
.shape-petoficial{
    position: absolute;
    width: 311px;
    height: 311px;
    background: rgba(15, 209, 152, 0.45);
    filter: blur(186.654px);
    margin-top: 17rem;
    left: 9rem;
}
.content-pet-social{
    position: relative;
}
.img-red-social{
    position: absolute;
    right: 11rem;
    top: 3rem;
}
.content-partner{
    padding-bottom: 15rem;
    position: relative;
}
.content-social-network{
    position: relative;
    padding-top: 7.5rem;
    padding-bottom: 7.5rem;
}
.content-discount{
    position: relative;
    padding-top: 10rem;
    padding-bottom: 10rem;

}
.content-events-news{
    position: relative;
    padding-top: 14rem;
    padding-bottom: 31rem;
}
/*  */
.img-home{
    position: absolute;
    left: -8.5rem;
}
.content-benefit {
    margin-top: 7rem;
    padding-top: 4rem;
}
.discount{
    padding-left: 5.5rem;
}
.img-event{
    position: absolute;
    right: 11rem;
    padding-top: 7rem;
}
.content-events h1 {
    padding-top: 2rem;
}
.content-events h1 {
    padding-top: 8.5rem;
}
.content-events {
    padding-top: 7rem;
    padding-left: 14rem;
}
.content-app-events{
    margin-right: 41%;
}
.scrolled {
    background: linear-gradient(90deg, #F3F3F3 0%, #EAE9E8 100%) !important;
}

/* nuevos beneficios */
.content-social h1{
    font-family: 'IBMPlexSans-Medium';
    font-size: 52px;
    font-weight: 700;
    line-height: 54px;
    color: #03754C;;
    letter-spacing: -1px;
    padding-top: 3rem;
}
.content-social p{
    font-weight: 400;
    font-size: 18px;
    line-height: 30px;
    text-align: center;
    color: #000000;
    opacity: 0.8;
    margin-top: 1rem;
}
.content-social h1 span{
    color: black;
    margin-left: 0.5rem;   
}


.text-footer[href]:hover{
    color: #005335 !important;
}
.card-slider {
    width: 306px;
    height: 480px;
}
.border-top {
    padding-top: 4rem;
    padding-bottom: 4rem;
}










/* slider */

.swiper {
    width: 100%;
    height: 100%;
  }
  .swiper-soccer {
    width: 100%;
    height: 100%;
  }
  .swiper-slide {
    background: transparent;

    /* Center slide text vertically */
    display: -webkit-box;
    display: -ms-flexbox;
    display: -webkit-flex;
    display: flex;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    -webkit-justify-content: center;
    justify-content: center;
    -webkit-box-align: center;
    -ms-flex-align: center;
    -webkit-align-items: center;
    align-items: center;
  }
  .swiper-content{
    padding-left: 10%;
    padding-right: 10%;
    padding-bottom: 12%;
  }

  .swiper-button-next, .swiper-button-prev{
    top: 48%;
    position: absolute;
    background-color: #D9D9D9;
  }